<!-- Bootstrap core CSS -->
    <link href="/WebSiteDin/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/WebSiteDin/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/WebSiteDin/css/offcanvas.css" rel="stylesheet">

    <link href="/WebSiteDin/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" href="/WebSiteDin/css/font-awesome.min.css">

    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="/WebSiteDin/fonts/Montserrat.css" rel="stylesheet" type="text/css">
    <link href='/WebSiteDin/fonts/Droid.css' rel='stylesheet' type='text/css'>
    <link href='/WebSiteDin/fonts/Roboto.css' rel='stylesheet' type='text/css'>
    <link href='/WebSiteDin/fonts/Roboto2.css'>
    <link href="/WebSiteDin/fonts/Oswald.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/WebSiteDin/assets/js/ie-emulation-modes-warning.js"></script>



    <!-- ===============-->