<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Menu</h4>
  </div>
  <div class="list-group sidebar">
    <a href="#" class="list-group-item"><i class="fa fa-bar-chart fa-fw"></i> Pesquisa</a>
    <a href="#" class="list-group-item"><i class="fa fa-book fa-fw"></i> Publicações</a>
    <a href="#" class="list-group-item"><i class="fa fa-building fa-fw"></i> Infraestrutura</a>
    <a href="#" class="list-group-item"><i class="fa fa-film fa-fw"></i> Multimídia</a>
    <a href="#" class="list-group-item"><i class="glyphicon glyphicon-phone-alt"></i> Secretaria</a>
    <a href="#" class="list-group-item"><i class="fa fa-phone fa-fw"></i> Contato</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Links</h4>
  </div>
  <div class="list-group sidebar">
    <a href="http://www.din.uem.br/museu/" class="list-group-item" target="blank"><i class="fa fa-university fa-fw"></i> Museu do Computador</a>
    <a href="https://moodlep.uem.br/" class="list-group-item" target="blank"><i class="fa fa-graduation-cap fa-fw"></i> Moodle UEM</a>
    <a href="http://sisav.uem.br/sav/" class="list-group-item" target="blank"><i class="fa fa-user fa-fw"></i> SAV</a>
  </div>
</div>


<div class="sidebar-imgs">
  <img src="/WebSiteDIN/img/selo_comp.png" class="img-responsive" alt="Selo 4 estrelas computação">
  <img src="/WebSiteDIN/img/selo_info.png" class="img-responsive" alt="Selo 4 estrelas informática">
  <a href="http://www.espweb.uem.br/" target="blank"><img src="/WebSiteDIN/img/logo-espweb.svg" class="img-responsive" alt="ESPWEB"></a>
</div>
