<div class="list-group">
  <a href="#" class="list-group-item active">Ensino</a>
  <a href="#" class="list-group-item">Pesquisa</a>
  <a href="#" class="list-group-item">Publicações</a>
  <a href="#" class="list-group-item">Secretaria</a>
  <a href="#" class="list-group-item">Infraestrutura</a>
  <a href="#" class="list-group-item">Fotos</a>
  <a href="#" class="list-group-item">Contato</a>
  <a href="https://moodlep.uem.br/" class="list-group-item" target="blank"><i class="fa fa-graduation-cap"></i> Moodle UEM</a>
</div>