<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Programas</h4>
  </div>
  <div class="list-group sidebar">
    <a href="#" class="list-group-item">CACCOM</a>
    <a href="#" class="list-group-item">CAINFO</a>
    <a href="#" class="list-group-item">Empresa Júnior</a>
    <a href="#" class="list-group-item">Meninas Digitais</a>
    <a href="http://www.din.uem.br/pet" class="list-group-item" target="blank">PET Informática</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Links</h4>
  </div>
  <div class="list-group sidebar">
    <a href="http://www.din.uem.br/museu/" class="list-group-item" target="blank">Museu do Computador</a>
    <a href="https://moodlep.uem.br/" class="list-group-item" target="blank">Moodle UEM</a>
    <a href="http://sisav.uem.br/sav/" class="list-group-item" target="blank">Menu do Aluno - SAV</a>
  </div>
</div>

